.section {
    margin-bottom: 2rem;
}

.sectionTitle {
    margin-bottom: 1rem;
    color: #1976d2;
}

.vipButton {
    margin-top: 1rem !important;
}

.vipSelect {
    margin-top: 1rem;
}

@media (max-width: 600px) {
    .sectionTitle {
        font-size: 1.25rem;
    }

    .vipButton {
        width: 100%;
    }
}
